@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0;
}

html,body{
  height:100%;
  width:100%;
}

body 
    { 
    font-family: 'Manrope', sans-serif;
    color: #000000;     
    text-align:center; 
}

main {
  margin: 0 auto;
  height: 75vh;
  min-height: 10%;
  width: 71vw;
  border: 2px solid orange;
}

header {
  min-height: 28em;
  height: 17.5vh;
  width: 71vw;
  margin: 0 auto;
  background-image: url(/images/bg-pattern.svg);
}

h1 
    { 
    font-size: 2.7em; 
    font-weight: 800;
} 
     
h2 
    { 
    font-size: 2.0em;  
    font-weight: 600;   
} 
     
h3 
    { 
    font-size: 1.8em; 

} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

.header-1,
.header-2 {
  text-align: center;
  margin: 0 auto;
}

.header-1 {
  width: 65vw;
  padding: 2em 0 1em 0;
}

.header-2 {
  width: 53vw;
}

.background-header-circle {
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10%;
  height: 17vh;
  width: 71vw;
}

section {
  position: relative;
  bottom: 15em;
  border: 1px solid red;
  margin: 0 auto;
  width: 55vw;
  background-color: #ffffff;
  /* opacity: 100; */
}


section > .section-main-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#productViews, #productPrice {
 padding: 1% 0 1% 0 ;
}

#price, .dollar-sign {
  font-size: 2em;
  font-weight: 800;
}

#product-month, #productViews {
  font-size: 1.3em;
  color: hsl(225, 20%, 60%);
}

/* slider component */
#myRange {
  margin: 5% 0 0 15%;
  width: 100%;
}
.slider {
  width: 80%;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.billing-info {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 30%;
}

.billing {
  padding-top: .5em;
 color: hsl(225, 20%, 60%);
 font-size: .8em;
}

.billing-text, .discount-info {
  width: 39%;
  display: flex;
  justify-content: space-evenly;
}

#discount {
  display: flex;
  align-items: center;
  color: hsl(15, 100%, 70%);
  background-color: hsl(15, 79%, 83%);
  font-weight: bolder;
  border: 1px transparent;
  border-radius: 30px;
  font-size: .8em;
}

/*switch styles*/

.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.6em;
} 

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.switch-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 4px;
  bottom: 1.8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}  

.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}