@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0;
}

html,body{
  height:100%;
  width:100%;
}

body 
    { 
    font-family: 'Manrope', sans-serif;
    color: #000000;     
    text-align:center; 
}

main {
  margin: 20% auto;
  height: 75vh;
  width: 75vw;
  border: 5px solid red;
}

header {
  height: 17vh;
  width: 71vw;
  margin: 0 auto;
  background-image: url(/images/bg-pattern.svg);
}

h1 
    { 
    font-size: 2.7em; 
    font-weight: 800;
} 
     
h2 
    { 
    font-size: 2.0em;  
    font-weight: 600;   
} 
     
h3 
    { 
    font-size: 1.8em; 

} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

.header-1,
.header-2 {
  text-align: center;
  margin: 0 auto;
}

.header-1 {
  width: 65vw;
  padding: 2em 0 1em 0;
}

.header-2 {
  width: 53vw;
}

.background-header-circle {
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10%;
  height: 17vh;
  width: 71vw;
}